@font-face {
    font-family: miFuente ;
    src: url(../fuente/Gambetta-Italic.otf);
    font-weight: 200;
    font-size: large;
 
} 

@font-face {
    font-family: miFuente2 ;
    src: url(../fuente/Gambetta-Regular.otf);
    font-weight: 100;
} 

@font-face {
    font-family: miFuente3 ;
    src: url(../fuente/Gambetta-Light.otf);
    font-weight: 100;
} 



*{
    box-sizing: border-box;
 
}

body {
    margin: 0;
    height: 100vh;
    background-color: #f9fbf8;
    position: relative;
    min-height: 100vh;
}

p {
  color: white;
  font-family: 'arial';
  text-align: center;
  margin-top: 50px;
  font-size: 1.4em;
  
  a {
    color: teal;
  }
}
  
header { 
grid-area: header;
display: flex;
position:sticky;
top: 0;
margin-top: 1%;
height: 90%;
width: 100%;
padding: 2px 2px;
justify-content: space-between;
align-items: center;
margin-left: 2.5%;
z-index:100;
/* background-color: #fafaf5; */



} 
header nav{
   
    word-spacing: 40px;
 margin-right: 5%;
 -webkit-text-fill-color: transparent;
 -webkit-text-stroke: 0.8px;

}
header nav a {
    text-decoration: none;
    
    margin-top: 5%;
-webkit-text-fill-color:#fafaf5 ;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
   

}

.logo {

    text-decoration: none;
    -webkit-text-fill-color: #fafaf5;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;


}
.logo:hover{


    -webkit-text-fill-color: rgba(255, 255, 104, 0.801) ;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    text-decoration: none;

}
.logocorto {

    text-decoration: none;
    -webkit-text-fill-color: #fafaf5;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    display: none;


}
.logocorto:hover {

    -webkit-text-fill-color: rgba(255, 255, 104, 0.801) ;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    text-decoration: none;


}
h1 {
   
    font-family: miFuente;
    font-size: 3em;
    font-weight: 200;

   
    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.8px;
}

.tresde:hover{ -webkit-text-fill-color: rgb(158, 14, 241) ;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: yellow;

}
.grafico:hover {
    -webkit-text-fill-color: red ;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: yellow;
}

.video:hover {
    -webkit-text-fill-color: green ;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: yellow;
}

.graficocorto {
    
    -webkit-text-fill-color: #fafaf5;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    display: none;
}

.videocorto{
 
    -webkit-text-fill-color: #fafaf5;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    display: none;
}

.tresdecorto {
    display:none;
    -webkit-text-fill-color: #fafaf5;
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: black;
    display: none;

}

.graficocorto:hover {
    
    -webkit-text-fill-color: red;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: yellow;
    display: none;
}

.videocorto:hover{
 
    -webkit-text-fill-color: green;
    -webkit-text-stroke: 0.3px;
    -webkit-text-stroke-color: yellow;
    display: none;
}

.tresdecorto:hover {
 
    -webkit-text-fill-color: rgb(158, 14, 241);
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: yellow;
    display: none;

}




.contenedor{

display:grid;
grid-template-areas: 
"header header header header "
"side-area main main side-area2"
"footer footer footer footer";
grid-gap: 0.2rem;
grid-template-rows: 70px 1fr 10px;
grid-template-columns: 0px 1fr 2fr 0px;
cursor: url(imagenes/cursor.png),auto;


}


h2{
    font-family: miFuente2;
    font-size: 1em;
    font-weight: 200;
    margin-top: -3%;
    margin-left: 15%;
    
}

h3 {
    font-family: miFuente3;
    font-size: 1.2em;
    font-weight: 200;
    margin-left: 47%;   
    text-decoration: none;
    color: black;
    text-decoration: underline;
    color: black;
}
.borde{
width: 35%;
 box-shadow: yellow 0px 0px 20px;
 margin-left: 125%;
 margin-top: 10%;
}
  
.main-content{

    grid-area: main;
    width: 100%;
    margin-top: 6%;
    
   
    /* background-color: aquamarine; */
  
}


.parrafo{
    margin-left: 117%;
margin-top: 5%;
    width: 50%;
     font-family: miFuente2;
     font-size: 0.9em;
     font-weight: 200;
     text-align: justify;
     /* text-align: center; */
     color:black
 }
 .parrafo2{
    margin-left: 118%;
    margin-top: 3%;
    width: 50%;
     font-family: miFuente2;
     font-size: 0.9em;
     font-weight: 200;

     text-align: center;
     color:black
 }

.gauchadaboton0 {
    border: 2px;
border-color: black;
margin-top: -4%;
margin-left: -35%;
width: 72%;

}  

.gauchadaboton {
color: black;


}  


.gauchadaboton2 {
    margin-top: -4%;
    margin-left: -78%;
    width: 76%;
    }  

    .gauchadaboton3 {
        border: 2px;
    border-color: black;
    margin-top: -4%;
    margin-left: -53%;
    width: 55%;
    
    }  
    .gauchadaboton4 {
        border: 2px;
    border-color: black;
    margin-top: -8%;
    margin-left: -54%;
    width: 63%;
    
    }  



.icono{
    position: relative;
    margin-left: 92.5%;
    margin-top: -6%;
    text-decoration: none;
    color: black;
    text-decoration: underline;
    color: black;
 
    
}

.icono2{
    
    margin-top: 1%;
    font-size: 0.9em;
    /* text-shadow: blue 1px 1px 1px; */
    font-family: miFuente;
    justify-content: end;
    text-decoration: underline;
    color: black;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 23000ms linear infinite;
      
}


.icono2:hover{
    
    margin-top: 1%;
    font-family: miFuente;
    text-decoration: underline;
    color: red;
    white-space: nowrap;
    padding: 0 6rem;
    letter-spacing: 1px;
    animation: move-rtl 23000ms linear infinite;
      
}

.icono:hover {
    color: red;
     transition: .4es ease;
     font-family: miFuente;
     
       }  
       

.side-area {
    background-color: blueviolet;
    grid-area: side-area;
}

.side-area2 {
    background-color: pink;
    grid-area: side-area2;
} 

.footer {
    grid-area: footer;
    width: 95%;
    bottom: 0%;
    position:sticky;
    margin-left: 2.5%;
text-decoration: none;

  
    
}


@media  (max-width:800px){

    .contenedor {
        grid-template-columns: 100% ;
        grid-template-rows: 1px  1px 1px;
        grid-template-areas:
            "header"
            
            "main" 
          
            "footer";
    }

    .logo{
        display: none;
    }
    .logocorto{

      margin-left: 20%;
      display:flex;
      margin-top: 9%;
  
      
    
    }


    header { 
        grid-area: header;
        display: flex;
        position: sticky;
        top: 2%;
        margin-top: 0%;
        height: 90%;
        width: 100%;
        padding: 2px 2px;
        justify-content: space-between;
        align-items: center;
        margin-left: 1.5%;
        z-index:100;
      /* background-color: red; */
        
        
        } 

        header nav{
            margin-top: 14%;
            justify-content: space-between;
            word-spacing: 40px;
            margin-right: 3.5%;
            -webkit-text-fill-color: transparent;
            -webkit-text-stroke: 0.8px;
            
           
           
           }
        
           header nav {
        
            word-spacing: 40px;
                margin-right: 8%;
                margin-top: 10%;
                width: 40%;
                -webkit-text-fill-color: transparent;
                -webkit-text-stroke: 0.8px;
                /* background-color: red; */
            
            }
            
        
        .grafico{
            display: none;}
        
        .video{
            display: none;
        }
        .tresde{
            display: none;
        }
        
        .graficocorto{
            display:inline;
            margin-left: 20%;
        margin-right: 20%;}
        
        .videocorto{
            display: inline;
            margin-right: 10%;
            margin-right: 15%;
        }
        
        .tresdecorto{
            display: inline;
            margin-right: 15%;
        }
        
        .graficocorto:hover{
            display: flex;}
        
        .videocorto:hover{
            display: flex;
        }
        
        .tresdecorto:hover{
            display: flex;
        }

   h1 {
    margin-top: 15%;
    display: flex;
    font-family: miFuente;
    font-size: 2.8em;
    font-weight: 200;

    -webkit-text-fill-color: transparent;
    -webkit-text-stroke: 0.8px;
}


.main{
    grid-area: main;
    margin-top: 20%;
    width: 90%;
    margin-left: 6%;
    /* background-color: aqua;    */
}


.borde{
width: 30%;
    box-shadow: yellow 0px 0px 20px;
    margin-left: 3%;
    margin-top: -5%;
   }

   .parrafo{
    margin-left: 15%;
margin-top: 5%;
    width: 70%;
     font-family: miFuente2;
     font-size: 0.9em;
     font-weight: 200;
     text-align: justify;
     /* text-align: center; */
     color:black
 }
 .parrafo2{
    margin-left: 25%;
    margin-top: 1%;
    width: 50%;
     font-family: miFuente2;
     font-size: 0.9em;
     font-weight: 200;

     text-align: center;
     color:black
 }

     
.icono{
    text-decoration: none;
    color: black;
    text-decoration: underline;
    color: black;
    text-align: left;

}

h3 {
    font-family: miFuente3;
    font-size: 1.2em;
    font-weight: 200;
    margin-left: 40%;
}
}


.cursor { 
    position: absolute;
    transition-duration: 1000ms;
    transition-timing-function: ease-in;
    animation: cursorAnim .5s infinite alternate;
    pointer-events: none;
    z-index:100;
}
.footer {
    grid-area: footer;
    width: 95%;
    height: 100%;
    margin-top: -1%;
    bottom: 0%;
    position: sticky;
    margin-left: 9%;
    text-decoration: none;
    /* background-color: aquamarine; */



}

@keyframes move-rtl {
    0%{
        transform: translateX(700);
         }
         100% 
    {
            transform: translatex(-700%);
        }
    }
